@model EndPoint.Site.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>حذف</h1>

<h3>آیا از حذف اطمینان دارید ؟</h3>
<div>
    <h4>دسته بندی</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">دسته بندی ها</a>
    </form>
</div>
